html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    cursor: none;
}

.background-div {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-div img {
    height: 150vh;
}

#background-div-1 {
    top: -50%;
    animation: bgscroll1 20s infinite linear;
}

#background-div-2 {
    top: 50%;
    animation: bgscroll2 20s infinite linear;
    margin-top: -1px;
}

#game_window {
    position: relative;
}

#player {
    position: absolute;
    transform: translate(-50%, -50%);
}

#player img {
    max-width: 60px;
}

.asteroid {
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

#life-bar {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50vw;
    top: 3vh;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 40vw;
    height: 3vh;
    border-radius: 5px;
    overflow: hidden;
}

#life {
    background: rgb(85, 227, 45);
    background: linear-gradient(90deg, rgba(85, 227, 45, 0.8) 0%, rgba(75, 134, 73, 0.8) 100%);
    height: 100%;
    width: 100%;
}

#wave-countdown {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 90vw;
    top: 3vh;
    width: 25vw;
    color: rgba(255, 255, 255, 0.8);
    font-size: 120%;
    text-align: center;
}

#timer {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 10vw;
    top: 3vh;
    width: 25vw;
    color: rgba(255, 255, 255, 0.8);
    font-size: 120%;
    text-align: center;
}

#WIP {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50vw;
    bottom: 1vh;
    width: 25vw;
    color: rgba(255, 255, 255, 0.5);
    font-size: 100%;
    text-align: center;
}

@keyframes bgscroll1 {
    from {
        top: -75vh;
    }

    to {
        top: 75vh;
    }
}

@keyframes bgscroll2 {
    from {
        top: 75vh;
    }

    to {
        top: 225vh;
    }
}