html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    cursor: none;
}

.background-div {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-div img {
    height: 150vh;
}

#background-div-1 {
    top: -50%;
    animation: bgscroll1 20s infinite linear;
}

#background-div-2 {
    top: 50%;
    animation: bgscroll2 20s infinite linear;
    margin-top: -1px;
}

#game_window {
    position: relative;
}

#player {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    transform-origin: left top;
}

#player img {
    max-width: 60px;
}

#target-player {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px dotted rgba(255, 255, 255, 0.6);
}

.asteroid {
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: left top;
}

#life-bar {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50vw;
    top: 3vh;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 40vw;
    height: 3vh;
    border-radius: 5px;
    overflow: hidden;
}

#life {
    background: rgb(85, 227, 45);
    background: linear-gradient(90deg, rgba(85, 227, 45, 0.8) 0%, rgba(75, 134, 73, 0.8) 100%);
    height: 100%;
    width: 100%;
}

#boost-bar {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50vw;
    top: 6vh;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 35vw;
    height: 1vh;
    border-radius: 5px;
    overflow: hidden;
}

#boost {
    background: rgb(218, 106, 31);
    background: linear-gradient(90deg, rgba(218, 106, 31, 0.8) 0%, rgba(163, 75, 16, 0.8) 100%);
    height: 100%;
    width: 100%;
}

#shockwave-div {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50vw;
    top: 8.5vh;
    background-color: transparent;
    width: 35vw;
    height: 2vh;
    display: inline-flex;
    place-content: space-between;
}

.shockwave-bar {
    width: 30%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.shock {
    background: rgb(45, 130, 227);
    background: linear-gradient(90deg, rgba(45, 130, 227, 0.8) 0%, rgba(29, 93, 167, 0.8) 100%);
    height: 100%;
}

#wave-countdown {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 90vw;
    top: 3vh;
    width: 25vw;
    color: rgba(255, 255, 255, 0.8);
    font-size: 120%;
    text-align: center;
}

#timer {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 10vw;
    top: 3vh;
    width: 25vw;
    color: rgba(255, 255, 255, 0.8);
    font-size: 120%;
    text-align: center;
}

#stats-asteroid {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 10vw;
    top: 6vh;
    width: 25vw;
    color: rgba(255, 255, 255, 0.8);
    font-size: 120%;
    text-align: center;
}

#difficulty {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 10vw;
    top: 9vh;
    width: 25vw;
    color: rgba(255, 255, 255, 0.8);
    font-size: 120%;
    text-align: center;
}

#WIP {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50vw;
    bottom: 1vh;
    width: 25vw;
    color: rgba(255, 255, 255, 0.5);
    font-size: 100%;
    text-align: center;
}

.shockwave {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#tutorial {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 90vw;
    bottom: 1vh;
    width: 25vw;
    color: rgb(255, 255, 255);
    font-size: 120%;
    text-align: center;
}

#ATH {
    z-index: 1;
}

#game-over {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    /*display: none;*/
    text-align: center;
    background-color: black;
    color: rgb(189, 27, 27);
}

#game-over b {
    font-size: 350%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-family: 'Pathway Gothic One', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Syne Tactile', cursive;
}

#timer-over {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
}

#stats-asteroid-over {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 65%;
}

#difficulty-over {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 70%;
}

#restart-over {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80%;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 125%;
    color: white;
    padding: 5px;
    cursor: pointer;
    transition: all 500ms;
}

#restart-over:hover {
    border-radius: 2px;
    color: black;
    background-color: white;
    transition: all 500ms;
}

#tutorial {
    z-index: 10;
    width: 25vw;
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    padding: 1vw;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#tutorial b {
    margin: 1vh 0;
}

@keyframes bgscroll1 {
    from {
        top: -75vh;
    }

    to {
        top: 75vh;
    }
}

@keyframes bgscroll2 {
    from {
        top: 75vh;
    }

    to {
        top: 225vh;
    }
}